<?xml version="1.0"?>
<!--
/**
 * @author sathish.pro
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SathishPro\DisablePayments\Model\ConfigInterface" type="SathishPro\DisablePayments\Model\Config" />
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="disablePayments" type="SathishPro\DisablePayments\Plugin\Payment\Model\MethodList" disabled="false" />
    </type>
</config>
